
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=6ded7b9134e5c80fe5a877521461c1aa
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress