
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=f88a64e20070a2c7842b51c531fa58bd
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress